@model Recipe
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="single-hero-slide bg-img" style="background-image: url(@Model.image);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                        <h2 data-animation="fadeInUp" data-delay="300ms">@Model.name</h2>
                        <p data-animation="fadeInUp" data-delay="700ms">@Model.description</p>
                        <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
